PORT=3001
FIREBASE_DATABASE_URL=https://scswimming-schedule-default-rtdb.asia-southeast1.firebasedatabase.app
GOOGLE_APPLICATION_CREDENTIALS=/etc/sc-schedule/firebase-service-account.json
SUPER_ADMIN_EMAIL=your-admin@example.com
